html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    background-color: rgb(64, 112, 244);
    width: 100vw;
    height: 100vh;
}

.formulario {
    width: 40vw;
    height: 80vh;
    border-radius: 0.7rem;
    background-color: white;
}

.div_decorativa {
    width: 40vw;
    height: 80vh;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div_decorativa p {
    font-size: 6.5rem;
    text-align: left;
    font-weight: bold;
    color: white;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

form h2 {
    border-bottom: 0.2rem solid rgb(64, 112, 244);
    display: inline;
}

form a {
    text-decoration: none;
    color: rgb(64, 112, 244);
}

form input {
    width: 25rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 2px solid grey;
    padding-left: 0.5rem;
    color: rgb(64, 112, 244);
}

.checkbox {
    width: 21rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
    color: gray;
}

.checkbox input {
    width: 2rem;
}

.checkbox label {
    font-size: 1.3rem;
}

.checkbox input:hover {
    cursor: pointer;
}

form button {
    width: 21rem;
    height: 4rem;
    background-color: rgb(64, 112, 244);
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
}

form button:hover {
    color: rgb(64, 112, 244);
    background-color: white;
    border: 2px solid rgb(64, 112, 244);
    cursor: pointer;
}

form p {
    font-size: 1.3rem;
}

@media (max-width:720px){
    .div_decorativa {
        display: none;
    }

    .formulario {
        width: 80vw;
    }
}